In [3]:
import pandas as pd
import requests as rq

In [21]:
url = 'https://nuforc.org/webreports/ndxe202210.html'

In [22]:
page =rq.get(url)

In [70]:
dfs = pd.read_html(page.text, parse_dates=True)
df = dfs[0]

In [75]:
df

,Date / Time,City,State,Country,Shape,Duration,Summary,Posted,Images
0,10/8/22 21:00,wauchula and myakka city,FL,USA,Changing,two months,Nightly Sightings of UAPs blatantly in your f...,10/8/22,Yes
1,10/8/22 19:00,NaN,NaN,USA,Disk,NaN,"My son, wife and myself saw a portion of a sau...",10/8/22,NaN
2,10/7/22 21:50,Brcko,Brcko District,Bosnia and Herzegovina,Diamond,For about half hour.,Half circle trail with rainbow color bright dot.,10/8/22,Yes
3,10/7/22 19:50,Bealeton,VA,USA,Fireball,One minute,I saw a fireball swirling around in the sky li...,10/8/22,NaN
4,10/7/22 16:05,Melbourne,FL,USA,Sphere,25 seconds,Saw a small dark round object in western sky,10/8/22,NaN
...,...,...,...,...,...,...,...,...,...
57,10/1/22 15:34,Huntsville,AL,USA,Cigar,2 - 3 minutes,Cigar shaped with a bright circular light to t...,10/8/22,Yes
58,10/1/22 11:50,Gulf breeze,FL,USA,Circle,Seconds intermittent,This was circular and was blur...I've never se...,10/8/22,NaN
59,10/1/22 09:52,Redwood valley,CA,USA,Other,NaN,A very very large huge X flying in and out of ...,10/8/22,NaN
60,10/1/22 04:30,Bountiful,UT,USA,Light,45 seconds,deep above maybe outer space,10/8/22,NaN
61,10/1/22 03:05,Columbus,MS,USA,Light,~15 seconds to a minute,BRIGHT light panned like a spotlight in both w...,10/8/22,NaN

In [49]:
path = './ufo_data/'
filename = path + url[-11: -5] + '.csv'
filename

'./ufo_data/202210.csv'

In [54]:
df.to_csv(filename, index=False)

In [57]:
dates_site = rq.get('https://nuforc.org/webreports/ndxevent.html')

In [78]:
dates = pd.read_html(dates_site.text, parse_dates=True)[0]

In [97]:
dates

       Reports  Count
0   2022-10-01     62
1   2022-09-01    468
2   2022-08-01    486
3   2022-07-01    457
4   2022-06-01    405
..         ...    ...
966 1721-02-01      1
967        NaT      1
968        NaT      2
969        NaT      1
970        NaT    376

[971 rows x 2 columns]

In [93]:
# dates['Reports'] = dates['Reports'].astype(str)

In [98]:
dates['Reports'] = pd.to_datetime(dates['Reports'], format='%m/%Y', errors='coerce')

In [99]:
dates

       Reports  Count
0   2022-10-01     62
1   2022-09-01    468
2   2022-08-01    486
3   2022-07-01    457
4   2022-06-01    405
..         ...    ...
966 1721-02-01      1
967        NaT      1
968        NaT      2
969        NaT      1
970        NaT    376

[971 rows x 2 columns]

In [100]:
new_dates = dates[dates['Reports'].notna()]

In [101]:
new_dates = new_dates[new_dates['Reports'] > '2020-01-01']

In [107]:
new_dates['Count'].sum()

13814